# --- System Files ---
.DS_Store
Thumbs.db

# --- Environment & Keys ---
.env
.env.backup
.env.production
# Do not ignore .env.example
user.secrets

# --- Dependencies ---
/vendor
/node_modules

# --- Laravel Build & Logs ---
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/bootstrap/cache/config.php
/bootstrap/cache/routes.php

# --- Databases ---
/*.sqlite
/*.sqlite-journal
/*.sql

# --- Testing & Tools ---
.phpunit.result.cache
.phpunit.cache
/tests/TestCase.php.bak
.php-cs-fixer.cache

# --- IDEs ---
.idea/
.vscode/
*.swp

storage/debugbar.env
